<% if @error_message %><font color="red"><%= @error_message %></font> <% end %>
<% if session[:error_message] %><font color="red"><%= session[:error_message] %></font> 
<% session.delete(:error_message) #deletes error_message from session hash so it doesn't persist %> 
<% end %>

<h3>Login:</h3>

<div class="form">
  <form action="/volunteers/login" method="POST">
    <label for="name">Email:</label>
    <input type="text"  name="email" value="<%= @volunteer && @volunteer.email %>">
    <br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Password..">
    <br><br> 
    <input type="submit" value="Submit">
  </form>
</div>