<h3>New Volunteer:</h3>

<div class="form">
  <form action="/volunteers" method="POST">
    <label for="fname">Name:</label>
    <input type="text" id="name" name="name" placeholder="Volunteer name..">
    <br><br>
    <label for="fname">Email:</label>
    <input type="text"  name="email" placeholder="Volunteer email..">
    <br><br>
    <label for="phone">Phone Number:</label>
    <input type="text" id="phone" name="phone" placeholder="Volunteer Phone Number..">
    <br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Password..">
    <br><br> 
    <label for="is_admin">Is Admin?:</label>
    <input type="checkbox" id="is_admin" name="is_admin">
    <br><br>

    <input type="submit" value="Submit">
  </form>
</div>

