
body {
  font-family: sans-serif;
}

.header-font {
  font-family: 'Caveat', cursive;
  font-size: 43px;
  color: white;
}

/* unvisited link */
a:link {
  color: #3b3b3b;
}

/* visited link */
a:visited {
  color: #3b3b3b;
}

/* mouse over link */
a:hover {
  color: #4CAF50;
}

/* selected link */
a:active {
  color: #4CAF50;
}

/*================== COLUMNS =============*/

.header {
  background-color: #4CAF50;
  height: 100px;
  color: white;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.875em;
}
.container div {
  padding: 1%;
  box-sizing: border-box;
  min-height: 500px;
}
.left-col {
  background-color: #f4f4f4;
  width: 20%;
  float: left;
  color: #3a3a3a;
  border-radius: 5px;
}
.center-col {
/*          background-color: pink; */
  width: 80%;
  float: left;
}
.footer {
  clear: both;
  background-color: #4CAF50;
  text-align: center;
  height: 50px;
  padding-top: 10px;
  box-sizing: border-box;
}

/* ================= FORM ============== */


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form {
  background:#f2f2f2; 
  border-radius: 5px;
  padding: 20px;
  width: 90%;
  margin: auto;
}

/*================================== TABLE ========================*/

#maintable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#maintable td, #maintable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#maintable tr:nth-child(even){background-color: #f2f2f2;}

#maintable tr:hover {background-color: #ddd;}

#maintable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}