<h1>Volunteers in Action</h1>

Our volunteers have completed <span class="total-runs"><%= @total_runs %></span> runs so far. They are currently working on <span class="total-runs"><%= @active_runs %></span> deliveries.
<br><br>
Watch some promo videos about our work:
<br><br>
<a href="https://www.facebook.com/timvolontera/videos/168172181159250/" target="_new">Facebook Videos</a>
<br>
<p>Or login to see stats and manage the page.</p>



