<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<title>Sinatra Project</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://www.google.com/jsapi"></script>
    <script src="/javascripts/chartkick.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<!--===============================================================================================-->
</head>
<body>
<div class="header">
    <img src="/images/volunteers_logo.png" height="90" style="vertical-align:middle">
    <span class="header-font">Volunteers Team - Help For People In Need</span>
</div>
<div class="container">
    <div class="left-col">
    <!-- IF USER LOGGED IN SHOW MENU -->
        <% if is_logged_in?%>  
        Hello, <%= current_user.name %>  <a href="/volunteers/logout">Logout</a>
        <h2>Menu</h2>
        <a href="/deliveries"><b>View active deliveries</b></a>
        <br><br>
        <a href="/deliveries/all"><b>View all deliveries</b></a>
        <br><br>
        <a href="/recepients"><b>View all recepients</b></a>
        <br><br>
        <a href="/recepients/new"><b>Create a recepient</b></a>
        <br><br>
        <a href="/deliveries/new/recepient"><b>Create a delivery</b></a>
    <!-- IF USER IS ADMIN SHOW ADDITIONAL MENU OPTIONS -->
        <% if is_logged_in? && is_admin? %> 
        <br><br>
        <h2>Admin Menu</h2>
        <a href="/volunteers"><b>View all volunteers</b></a>
        <br><br>
        <a href="/volunteers/new"><b>Create a volunteer</b></a>
        <%end %>
        <% else %>
    <!-- IF NOT SHOW LOGIN LINK -->
        <a href="/volunteers/login">Login</a>
        <%end%>
    </div>
    <div class="center-col">
        <%= yield %>
    </div>
</div>
<div class="footer">
    &copy; 2020 Sinatra Project - SE20200413.
</div>
</body>
</html>
